.postContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  width: 80%;
  background-color: #151515;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 1rem;
  padding: 24px 32px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postInfo p,
h1 {
  margin: 0;
}
.bottomInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.bottomInfoWrapper {
  display: flex;
  gap: 10px;
}
.bottomInfoWrapper button {
  background: none;
  border: none;
  padding: 0;
}
.like,
.comment {
  display: flex;
  align-items: center;
  gap: 5px;
}
.like,
.comment p {
  margin: 0;
}
.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.delete {
  border: none;
  color: rgb(255, 124, 124);
  background: none;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
