@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  background-color: #0a0a0a;
  color: rgb(250, 250, 250);
  font-family: "Inter", sans-serif; /* Теперь будет работать точно */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
